<p>characters works!</p>

<div class="cards-container">
  <mat-card *ngFor="let character of characters | async">
    <mat-card-header>
      <mat-card-title>{{character.name}}</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <!-- {{ character.title | json }} -->
    <img mat-card-image src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="">
    <mat-card-content>
      <p>{{ character.description }}</p>
    </mat-card-content>
  </mat-card>
</div>
<!-- <p *ngFor="let character of characters | async"> {{ character | json }}</p> -->
